@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css');

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.wrapper {
    text-align: center;
    position: relative;
}

.title {
    position: absolute;
    margin: auto;
    height: 50px;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color: white;
    font-size: 20px;
    opacity: 0;
    font-family: 'Nanum Gothic',sans-serif;
}

.blur {
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    animation: blur 0.5s forwards;
}

.unblur {
    animation: unblur 0.5s forwards;
}

.hidden {
    opacity: 0;
}

.fade-in {
    animation: fade-in 0.5s forwards;
}

.fade-out {
    animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fade-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes unblur {
    from{ filter: blur(8px);
    -webkit-filter: blur(8px);}
    to {}
}

@keyframes blur {
    from{}
    to{ filter: blur(8px);
    -webkit-filter: blur(8px);}
}